@media (min-width: 992px) {
  .navlink {
    margin-left: 4rem;
  }
  .signup-button{
    width: 100px;
  }
  .navigation-bar{
    text-decoration: none;
    color: rgb(10, 10, 10);
    font-size: 20px;
    font-weight: 500;
  }
  
}

.user-profile{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-links:hover{
  background-color: blue;
}

.topmate-curser{
  cursor: pointer;
}


